{% extends "layout.html" %} {% block content %}
<div class="status-table-wrapper">
    <h1>Sprinker States</h1>
    <table class="table table-bordered ">
        <thead>
            <th>Device</th>
            <th>Status</th>
        </thead>
        <tbody>
            {% for sprinker in sprinklers %}
            <tr>
                <td>{{ sprinker.deviceId }}</td>
                {% if (sprinker.state == 'OFF') %}
                <td class="sprinkler-off"> {{ sprinker.state}}</td>
                {% else %}
                <td class="sprinkler-on"> {{ sprinker.state}}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/" type="button" class="btn btn-success">Back</a>
</div>



<script>
    function autoRefresh() {
        window.location = window.location.href;
    }
    setInterval('autoRefresh()', 10000);
</script>

{% endblock content %}